.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10rem;
    z-index: 99;
    background: rgba(255, 255, 255, .2);
    box-shadow: 0px 0px 6px rgba(0, 0, 0, .3);
    backdrop-filter: saturate(180%) blur(15px);
    .logo {
        padding: 1rem 2rem;
        font: {
            size: 2rem;
            weight: 700;
        }
        width: 40%;
    }
    .menu {
        &__list {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 5rem;
            width: 100%;
            max-width: 1000px;
            margin: 0 auto;
        }
        &__item {
            width: 25%;             
            max-width: 150px;
        }
        &__link {
            width: 100%;
            height: 100%;
            text-align: center;
            padding: 1rem 2rem;
            box-sizing: border-box;
        }
    }
    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 5rem;
        width: 100%;
        max-width: 1000px;
        margin: 0 auto;
        &__list {
            width:60%;
            max-width: 300px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;
            padding-right: 2vw;
        }
        &__item {
            width: 33%;             
            max-width: 150px;
        }
        &__link {
            width: 100%;
            height: 100%;
            text-align: center;
            box-sizing: border-box;
        }
    }
}
section {
    h2 {
        font-size: 3rem;
        text-align: center;
    }
}
.section {
    &-text {
        &__h2 {
            font-size: 5rem;
            position: relative;
            top: 10rem;
            z-index: 9;
            display: flex;
            align-items: center;
            justify-content: center;
            height: calc(100vh - 10rem);
        }
        &__sticky {
            font-size: 3rem;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 30vh;
            font-weight: 700;
        }
    }

    &-normal {
        padding: 40vw 0;
        &__h2 {
            float: left;
        }
        &__text {
            color: #888;
            font-size: 1.6rem;
        }
    }

    &-expln{
        &__small {
            display: block;
            font-size: 1.4rem;
        }
        &__sticky {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 70vw;
            height: 30vh;
            font-weight: 700;
            font-size: 2rem;
            position: relative;
            &::after{
                display: block;
                content: "";
                width: 2px;
                height: 10vw;
                background: #454f5d;
                position: absolute;
                bottom: 17rem;
                left: 50%;
            }
        }
        &__h2{
            font-size: 5rem;
            position: relative;
            top: 10rem;
            z-index: 9;
            width: 100%;
            display: block;
            height: calc(100vh - 10rem);
            padding: calc((100vh - 10rem) / 4) 0;
            &::after{
                display: none;
            }
        }
        &__small {
            display: block;
        }
    }

    &-expns{
        &__h2 {
            text-align: left;
        }
        &__text {
            color: #888;
            font-size: 2.5rem;
        }
        &__canvas-caption {
            color: #888;
        }
    }
}
.footer {
    padding: 5vh 0;
    background-color: #353535;
    color: #fff;
    font-size: 1.6rem;
    text-align: center;
}

// js 

section {
    border: 2px solid red;
    [class*=__sticky]{
        position: fixed;
        top: 10rem;
        left: 0;
        height: calc(100vh - 10rem);
        visibility: hidden;
        opacity: 0;
        z-index: 9;
    }
    [class*=__canvas-wrap] {
        position: fixed;
        top: 50%;
        left: 50%;
        visibility: hidden;
        transform : translate(50%, 50%) scale(0.6);
    }
}

$sections: text, normal, expln, expns;

@each $section in $sections{
    $i: index($sections, $section);

    #show-scene-#{$i} .section-#{$section} [class*=__sticky]{
        visibility: visible;
    }
}
#show-scene-1 .section-text [class*=__canvas-wrap] {
    visibility: visible;
}

@mixin pc {
	@media screen and (min-width: 1024px) {
		@content;
	}
}
@mixin tablet {
	@media screen and (min-width: 768px) {
		@content;
	}
}

@include tablet{
    [class*=__sticky] {
        font-size: 5rem;
    }
    .section-normal__text {
        max-width: 1000px;
        margin: 0 auto;
    }
    .section-expln {
        &__sticky {
            font-size: 3rem;
        }
    }
}

@include pc{
    .section-normal {
        &__text {
            font-size: 3rem;
        }
        &__h2 {
            font-size: 8rem;
        }
    }
    .section-expln {
        &__sticky {
            width: 30vw;
            font-size: 2rem;
        }
    }
}