.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10rem;
    z-index: 10;
    background-color: #fff;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, .3);
    .logo {
        padding: 1rem 2rem;
        font: {
            size: 2rem;
            weight: 700;
        }
        width: 40%;
    }
    .menu {
        &__list {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 5rem;
            width: 100%;
            max-width: 1000px;
            margin: 0 auto;
        }
        &__item {
            width: 25%;             
            max-width: 150px;
        }
        &__link {
            width: 100%;
            height: 100%;
            text-align: center;
            padding: 1rem 2rem;
            box-sizing: border-box;
        }
    }
    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 5rem;
        width: 100%;
        max-width: 1000px;
        margin: 0 auto;
        &__list {
            width:60%;
            max-width: 300px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;
            padding-right: 2vw;
        }
        &__item {
            width: 33%;             
            max-width: 150px;
        }
        &__link {
            width: 100%;
            height: 100%;
            text-align: center;
            box-sizing: border-box;
        }
    }
}
section {
    padding: 20vw 2rem;
    h2 {
        font-size: 3rem;
        text-align: center;
    }
}
.section {
    &-text {
        &__sticky {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 30vh;
            font-weight: 700;
            font-size: 3rem;
        }
    }

    &-normal {
        &__h2 {
            float: left;
        }
        &__text {
            color: #888;
            font-size: 1.6rem;
        }
    }

    &-expln{
        &__small {
            display: block;
            font-size: 1.4rem;
        }
        &__sticky {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 30vh;
            font-weight: 700;
            font-size: 3rem;
            &::after{
                display: block;
                content: "";
                width: 2px;
                height: 30vw;
                background: #454f5d;
            }
        }
    }

    &-expns{
        &__h2 {
            text-align: left;
        }
        &__text {
            color: #888;
            font-size: 2.5rem;
        }
        &__canvas-caption {
            color: #888;
        }
    }
}
.footer {
    padding: 5vh 0;
    background-color: #353535;
    color: #fff;
    font-size: 1.6rem;
    text-align: center;
}

// js 

section {
    border: 2px solid red;
    [class*=__sticky]{
        position: fixed;
        top: 10rem;
        left: 0;
        height: calc(100vh - 10rem);
        visibility: hidden;
        opacity: 0;
        z-index: 9;
    }
    canvas[class*=__canvas] {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #ddd;
    }
}

$sections: text, normal, expln, expns;

@each $section in $sections{
    $i: index($sections, $section);

    #show-scene-#{$i} .section-#{$section} [class*=__sticky]{
        visibility: visible;
    }
}